$background-color: #e8e8e8;
$headline-text-color: #433d3c;
$button-text-color: #e8e8e8;
$primary-color: #f05454;
$secondary-color: #30475e;
$text-color: rgba(
  $color: $headline-text-color,
  $alpha: 0.85,
);
